@font-face {
  font-family: "Avenir";
  src: url("font/AvenirLTStd-Black.woff2") format("woff2"),
    url("font/AvenirLTStd-Black.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir";
  src: url("font/AvenirLTStd-Black.woff2") format("woff2"),
    url("font/AvenirLTStd-Black.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir";
  src: url("font/AvenirLTStd-Book.woff2") format("woff2"),
    url("font/AvenirLTStd-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir";
  src: url("font/AvenirLTStd-Roman.woff2") format("woff2"),
    url("font/AvenirLTStd-Roman.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-primary: #dd1f33;
  --color-background: #f3f4f5;
  --color-body-darker: #444;
  --color-border: #d4d4d4;
  --border-redius: 40px;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
/* typography */
html {
  font-size: 62.5%;
}
body {
  font-family: "Avenir", Arial, Helvetica, sans-serif;
  color: var(--color-body-darker);
  font-size: 2.4rem;
  line-height: 1.5;
  height: 200vh;
}

/* link */

a {
  text-decoration: none;
  color: inherit;
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-primary);
  margin: 0;
}

/* icon */

.icon {
  width: 40px;
  height: 40px;
  fill: var(--color-body-darker);
  margin-left: 20px;
  margin-right: 20px;
  min-width: 40px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon--light {
  fill: white;
}
.icon--small {
  width: 20px;
  height: 20px;
}
.icon--container {
  width: 75px;
  height: 75px;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  transform: all 0.3s;
  margin-inline: 10px;
}

.show_sidenav .menu_icon_container,
.show_cart .cart_icon_container {
  background: white;
  border-right: rgb(68, 68, 68, 0.5) solid 1px;
  border-left: rgb(68, 68, 68, 0.5) solid 1px;
}

@media screen and (max-width: 540px) {
  .icon {
    width: 20px;
    margin-left: 10px;
    margin-right: 10px;
    min-width: 20px;
  }
  .icon--small {
    width: 15px;
    height: 15px;
  }
  .icon--container {
    width: 50px;
    height: 50px;
    margin-inline: 5px;
  }
}

.icon--container:hover {
  background: white;
  border-right: rgb(68, 68, 68, 0.5) solid 1px;
  border-left: rgb(68, 68, 68, 0.5) solid 1px;
}

/* location */

.location {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}
.location:hover {
  cursor: pointer;
}
.location__text {
  height: 50px;
  width: 150px;
}
.location__text .head_line {
  font-weight: bold;
  color: black;
  font-size: 1.9rem;
  line-height: 28px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.location__text .time_line {
  font-size: 1.6rem;
  font-weight: 300;
  color: black;
  line-height: 22px;
}
.location .icon {
  padding-left: 10px;
  margin: 0;
}

@media screen and (max-width: 540px) {
  .location {
    margin: 0 5px;
  }
  .location__text {
    width: 72px;
    height: 26px;
  }

  .location__text .head_line {
    font-weight: bold;
    color: black;
    font-size: 1.1rem;
    line-height: 15px;
  }
  .location__text .time_line {
    font-size: 0.9rem;
    font-weight: 300;
    color: black;
    line-height: 11px;
  }
  .location .icon {
    padding-left: 5px;
    margin: 0;
  }
}

/* button */

.btn {
  height: 30px;
  background: var(--color-primary);
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 5px;
}
.btn:hover {
  cursor: pointer;
}

/* input group */

.input-group {
  border: 1px solid var(--color-border);
  border-radius: 40px;
  display: flex;
  flex-grow: 1;
  height: 55px;
  color: var(--color-body-darker);
  font-size: 2.2rem;
}

.input {
  border: 0;
  flex-grow: 1;
  width: 0;
  outline: 0;
  padding-left: 20px;
  border-radius: 40px 0 0 40px;
  min-width: 90px;
}
.input-group .btn {
  margin: 0;
  border-radius: 0 40px 40px 0;
  height: 53px;
  width: 65px;
}

::placeholder {
  color: var(--color-border);
  font-size: 2.2rem;
  line-height: 26px;
}

@media screen and (max-width: 540px) {
  .input-group {
    height: 25px;
    font-size: 1.2rem;
  }
  .input {
    padding-left: 10px;
    min-width: 50px;
  }

  .input-group .btn {
    margin: 0;
    border-radius: 0 40px 40px 0;
    height: 23px;
    width: 32px;
  }
  ::placeholder {
    font-size: 1.2rem;
    line-height: 26px;
  }
}

/* navigation bar */

.nav {
  height: 75px;
  background: var(--color-background);
  box-shadow: 0 1px 2px rgb(68, 68, 68, 0.5);
}
.nav__container {
  display: flex;
  max-width: 1200px;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.nav__container .icon {
  cursor: pointer;
}

@media screen and (max-width: 540px) {
  .nav {
    height: 50px;
  }
}

/* side nav */

.side--nav {
  background: white;
  width: 350px;
  height: 500px;
  box-shadow: 2px 2px 2px rgb(68, 68, 68, 0.5);
  border-bottom: 3px solid rgb(68, 68, 68, 0.2);
  display: block;
  overflow: hidden;
  max-width: 0;
  opacity: 0;
  transition: all 0.3s ease-out;
}

.carousel {
  overflow: hidden;
  width: 100%;
}

.slider {
  display: flex;
  width: 400%;
  transition: all 0.3s ease-in-out;
}

.menu_slide_1,
.menu_slide_2,
.menu_slide_3,
.menu_slide_4 {
  width: 350px;
  display: block;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 540px) {
  .side--nav {
    width: 280px;
    height: 360px;
  }

  .menu_slide_1,
  .menu_slide_2,
  .menu_slide_3,
  .menu_slide_4 {
    width: 280px;
  }
}

.menu_container {
  width: 100%;
  height: 60px;
  align-items: center;
  border-bottom: 1px solid rgb(68, 68, 68, 0.2);
  display: flex;
  cursor: pointer;
  transition: all 0.4s;
}

.menu_container .icon {
  margin: 0;
  padding: 0;
  width: 15px;
  height: 15px;
  fill: rgb(68, 68, 68, 0.2);
  transform: rotate(270deg);
}

.menu_container .menu__text {
  flex-grow: 1;
  margin-left: 10px;
  color: var(--color-body-darker);
  font-size: 1.9rem;
  font-weight: 300;
  line-height: 20px;
  transition: all 0.3s;
}

.menu_container :hover {
  color: var(--color-primary);
  font-size: 2.1rem;
}

@media screen and (max-width: 540px) {
  .menu_container .icon {
    width: 15px;
  }
  .menu_container .menu__text {
    font-size: 1.2rem;
    line-height: 12px;
  }
  .menu_container {
    height: 40px;
  }
  .menu_container :hover {
    font-size: 1.3rem;
  }
}

/* back button */

.back--button .icon {
  transform: rotate(90deg);
  fill: rgb(68, 68, 68, 0.2);
  padding-left: 10px;
}
.menu_container.back--button {
  border-bottom: 1px solid var(--color-primary);
  justify-content: space-between;
}
.menu_container.back--button :hover {
  font-size: 1.9rem;
  color: var(--color-body-darker);
}
.menu_container.back--button .menu__text {
  flex-grow: unset;
  padding-right: 50px;
  font-weight: 600;
}

@media screen and (max-width: 540px) {
  .menu_container.back--button :hover {
    font-size: 1.2rem;
  }
}

/* mini  cart */
.mini--cart {
  background: white;
  width: 216px;
  height: 256px;
  box-shadow: -2px 2px 2px rgb(68, 68, 68, 0.5);
  border-right: 1px solid rgb(68, 68, 68, 0.2);
  position: absolute;
  top: 75px;
  right: 2px;
  display: inline;
  max-width: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s;
}
@media screen and (max-width: 540px) {
  .mini--cart {
    top: 50px;
  }
}

.cart__info {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.total__item {
  font-size: 10px;
  color: var(--color-body-darker);
  line-height: 10px;
}

.cart__price_hading {
  font-size: 10px;
  color: var(--color-body-darker);
  line-height: 10px;
}

.cart_total {
  font-size: 12px;
  color: var(--color-primary);
  line-height: 12px;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 19px;
}

.mini--cart .btn {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.product_list {
  border-top: 1px solid rgb(68, 68, 68, 0.2);
  border-bottom: 1px solid rgb(68, 68, 68, 0.2);
  height: 116px;
  overflow-y: scroll;
}

.itme__container {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  margin-top: 10px;
  border-bottom: 1px solid rgb(68, 68, 68, 0.2);
}

.info__container {
  padding-right: 15px;
  border-right: 1px solid rgb(68, 68, 68, 0.2);
}

.product__name,
.item__qty,
.item__price {
  font-size: 12px;
  color: var(--color-body-darker);
  font-weight: bold;
}

.product__name {
  width: 115px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.qty__container {
  display: flex;
  justify-content: space-between;
}

.itme__container .icon {
  margin-left: 5px;
  margin-right: 0;
}
.bottom__btn {
  font-size: 12px;
  color: var(--color-primary);
  font-weight: bold;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.mini--cart .icon {
  cursor: pointer;
}

/* scorolbar */

.new_header ::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.new_header ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.new_header ::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2.5px;
}

/* Handle on hover */
.new_header ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* collapsible expanded */

/* cart */

.show_cart .mini--cart {
  display: block;
  max-width: 216px;
  opacity: 1;
  right: 2;
}
.cart_close_icon {
  display: none;
}
.show_cart .cart_icon {
  display: none;
}
.show_cart .cart_close_icon {
  display: inline;
}

/* search bar  */

.search_close {
  display: none;
}

.long_search .search_close {
  display: block;
}

.long_search .location,
.long_search .user,
.long_search .icon--cart,
.long_search .livechat_button {
  display: none;
}

.show_sidenav .side--nav {
  overflow-y: scroll;
  max-width: 350px;
  opacity: 1;
}

.sidenav_close_icon {
  display: none;
}

.show_sidenav .berger_icon {
  display: none;
}

.show_sidenav .sidenav_close_icon {
  display: inline;
}

/* home icon change */

.large_house {
  width: 110px;
  height: 55px;
  display: inline-block;
  margin: 0;
  margin-left: 10px;
}
.house {
  display: none;
  margin: 0;
  margin-left: 20px;
}

@media screen and (max-width: 540px) {
  .large_house {
    display: none;
  }
  .house {
    display: inline-block;
  }
}

/* top bar */

.top_bar {
  height: 30px;
  background: #1e2f43;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top_bar__text {
  font-size: 1.8rem;
  color: #f3f4f6;
}

.new_header {
  position: fixed;
  top: 0;
  width: 100%;
}

/* chat btn */
.livechat_button img {
  width: 40px;
  height: 40px;
  min-width: 40px;

}

.livechat_button , .livechat_button a{
  display: inline-flex;
  width: 40px;
  height: 40px;
  margin-left: 20px;
  margin-right: 20px;
  min-width: 40px;
  justify-content: center;
  align-items: center;

}

@media screen and (max-width: 540px) {
  .livechat_button img {
    width: 20px;
    height: 20px;
    min-width: 20px;
  }

  .livechat_button , .livechat_button a {
    width: 20px;
    margin-left: 10px;
    margin-right: 10px;
    min-width: 20px;

  }

}

.header__section {
  position:relative;
}
